<div class="container" id="discover">
  <div class="row space-row text-xs-center">
    <div class="col-md-12 text-center">
      <div class="details">
        <h2>Discover New music & stuff</h2>
        <p>
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>
    </div>
  </div>

  <div class="row download">
    <div class="col-sm-12">
      <%= image_tag "coeluso.png", class: 'img-responsive center-block'%>
    </div>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-xs-12">
      <button class="btn btn-selus">Download our app</button>
    </div>
  </div>

  <%= render partial: "footer" %>

</div>