<div class="row footer">
  <div class="col-md-6">
    <ul class="footer-links">
      <li><a href="#">Homepage</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="col-md-6" id="copyright">
    <span>Copyright © <%= Time.now.strftime('%Y') %>. All rights serveved by reserved by Selus</span>
  </div>
</div>