<div class="row">
    <div class="col-md-6 col-md-push-6 headphone-text">
      <h2><span class="selus-title">Selus</span> is for music</h2>
      <p class="details">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. Curabitur aliquet lacus sit amet metus molestie ultrices vel in nibh. Sed sit amet feugiat turpis, ut bibendum velit. In et felis mauris.
      </p>
      <button class="btn btn-selus">View More</button>
    </div>
  <!-- </div> -->
  <div class="col-md-6 col-md-pull-6">
    <%= image_tag "headphones", class: 'img-responsive' %>
  </div>
</div>