<nav class="navbar">
  <%= image_tag "logo.png", class: "pull-left" %> <h2>Selus</h2>
  <span type="button" data-toggle="collapse" data-target=".collapse#full-navbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </span>
</nav>

<div class="collapse" id="full-navbar">
    <a href="#">Home</a>
    <a href="#">Services</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
</div>