@import "bootstrap-sprockets";
@import "bootstrap";

.screens {
  width: 100%;
}

body {
  color: white;
  z-index: -1;
  min-height: 100% !important;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #092244; /* Old browsers */
  background: -webkit-linear-gradient(top,  #092244 0%,#000002 100%); /* Chrome10-25,Safari5.1-6 */
  background:    -moz-linear-gradient(top,  #092244 0%, #000002 100%); /* FF3.6-15 */
  background:         linear-gradient(to bottom,  #092244 0%,#000002 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092244', endColorstr='#000002',GradientType=0 ); /* IE6-9 */
}

.details {
  font-size: 14px;
  color: rgb(102, 119, 142);
  line-height: 2.571;
}

.customer-opinion img {
  margin-right: 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
  color: #fff;
}

h3 {
  color: #fff;
}

.opinion-text h4 {
  color: #66778e;
  font-size: 24px;
  line-height: 200%;
}
.opinion-text .opinion-user{
  color: #66778e;
}

.opinion-text .opinion-user-title{
  color: #213a61;
}

.selus-title {
  color: #2a5da3;
}

.btn-selus {
  border-radius: 500px;
  border: 1px solid #2a5da3;
  padding: 15px 65px;
  font-size: 14px;
  background: transparent;
  margin-top: 10px;
}

.btn-selus {
  padding: 15px 65px;
  font-size: 14px;
  background: transparent;
}

.space-row {
  margin-top: 10%
}

.col-md-6.headphone-text {
  padding: 5% 11% 0% 5%;
}

.details {
  padding: 15px 0;
}

.carousel-inner {
    height: 500px;
}

.carousel {
  background-image: url("opinion-background");
  background-size: cover;
  background-color: #061327;
}

.carousel-caption {
  position: absolute;
  top: 100px;
  width: 50%
}

.carousel-indicators li {
  border: 1px solid #335a95;
}

.carousel-indicators .active {
  background-color: #335a95;
}

.customer-opinion {
    margin-top: 50px;
}

.opinion-user-avatar {
  margin-right: 10px;
}

button.navbar-toggler.pull-right {
    color: #2a5da3;
}

ul li {
  display: inline;
}

ul {
  display: inline;
}

#copyright {
  text-align: right;
}

.footer {
  border-top: 1px solid rgba(255,255,255,.2);
  margin: 80px 0;
  padding: 30px 0;
  color: rgb(20, 57, 106);
  text-align: center;
}

.footer a {
  color: rgb(20, 57, 106);
}

.footer div {
  text-align: left;
}

.btn-selus:hover {
    background-color: #2a5da3;
}

.btn-selus a:hover {
  color: #2a5da3;
  text-decoration: none;
}

.footer-links li a {
  margin-right: 10px;
}
.navbar {
  padding-top: 25px;
}